<!DOCTYPE html>
<html>

<head><title>Makers BnB</title>
<link href="http://assets.makersacademy.com/images/favicons/favicon-16x16.png"
 rel="icon" sizes="16x16" type="image/png">
<link rel="stylesheet" type="text/css" href="<%= url('/normalize.css') %>">
<link rel="stylesheet" type="text/css" href="<%= url('main.css') %>">
</head>
<body>
<div id="main">
<h1>Makers BnB</h1>
<% if current_user %>
    <p>Hello <%=current_user.name%> <br>
    You are logged in as <%=current_user.email%></p>
    <form action ="/sessions" method ="post">
      <input type='hidden' name='_method' value='delete'>
      <input type = "submit" value = "Log Out"/>
    </form>
<%elsif current_path != '/sessions' && current_path != '/sign_up'%>
      <p>Welcome to Makersbnb<br>
        Please log in or register</p>
      <form action ="/sessions" method ="get">
        <input type = "submit" value = "Log in"/>
      </form><br>
      <form action ="/sign_up" method ="get">
        <input type = "submit" value = "Sign up"/>
      </form>
<% end %>
<%if flash[:errors]%>
    <div id ="errors">
      <%=flash[:errors]%>
    </div>
<% end %>
<%= yield %>

</div>
</body>
</html>
